**1.String indeks**

In [ ]:
Nama = 'I Komang Triatmaja Putra'
print(Nama[0:25])
#percobaan string yang diurutkan dengan index yang dimulai dari 0

I Komang Triatmaja Putra

In [ ]:
print(Nama[0])
#mencetak satu data pada urutan data yang diinginkan

I

In [ ]:
print(Nama[0:-1:3])
#percobaan mencetak data yang dimulai dari 0, sampai dengan terakhir atau -1 dengan meloncati 3 harus dari suatu data

IonTaa t

**2.String methods**

In [ ]:
TEMA = 'Bali Seribu Pura'
print(len(TEMA))
#percobaan strings methods pada variabel berjenis string

16

In [ ]:
TEMA.upper()
#percobaan string method untuk merubah ke huruf  besar atau upper

'BALI SERIBU PURA'

In [ ]:
TEMA.lower()
#percobaan ini hampir sama dengan percobaan yang diatas akan tetapi percobaan ini untuk merubah suatau kalimat huruf kecil atau lower

'bali seribu pura'

In [ ]:
TEMA.replace('Bali Seribu Pura','Indonesia Seribu Pulau')
#percobaan untuk mengganti suatu tema ke tema yang lain sesuai dengan yang kita inginkan

'Indonesia Seribu Pulau'

**3. Operasi matematika di phyton**

In [5]:
X = input('Nilai x adalah ')
Y = input('Nilai y adalah')
print(int(X) + int(Y))
#operasi penjumlahan, atau contoh operasi matematika pada phyton

Nilai x adalah 4
Nilai y adalah6
10

In [10]:
X = input('nilai x adalah')
Y = input('nilai y adalah')
print(int(X)**int(Y))
#percobaan operasi perpangkatan matematika dalam phyton

nilai x adalah5
nilai y adalah5
3125

**4.Operator perbandingan di phyton**

In [15]:
#output yang dicetak adalah True atau False

p = 8
q = 4

#sama dengan
a = p == 4
b = q == 4
print (a)
print (b)

#kurang dari
a = p < 5
b = q < 5
print (a)
print (b)

#lebih besar
a = p > 1
b = q > 1
print (a)
print (b)

False
True
False
True
True
True

**5.Operator logika di phyton**

In [17]:
print (x>4 and y<=3)
print(not(x>4 and y<=3))
print(~(x>4 and y<=3))

#output yang pertama akan menghasilkan false karena apabila terdapat salah satu pernyataan salah dalam suatu logika 'dan' maka hasil akan salah
#output kedua  menghasilkan True karena merupakan suatu negasi dari output yang pertama, dimana jika False maka negasinya True

False
True
-1

**6.Operator if di phyton**

In [11]:
y = 1
x = 10

if x <= 10:
    y = x**2
    x = x + 1
    print (y)
    #jika sudah menggunakan if, maka yng tercetak adalah data yg terbaru
    #jika y = x**2, maka output yang dihasilkan adalah y dengan variabel terdapat didalam  if tersebut

100

In [13]:
y = 1
x = 10

if x <= 10:
    y = x**2
    x = x + 1
    print(x)
#sama halnya dengan percobaan diatas, jika suatu  x variabel memenuhi x dalam if, maka x tersebut dapat dideklarasikan
#sehingga yang dihasilkan adalah x = x + 1

11

In [14]:
nilai=float(input("ATMAJA nilai anda adalah : "))
if nilai >= 90:
    print ("sangat bagus, pertahankan")
if nilai >=60 and nilai <90:
    print ("bagus, belajar lebih giat lagi yaa")
if nilai >=30 and nilai <60:
    print ("tetap seman g rajin rajin belajar")
#akan menghasilkan suatu  kode paramenter
# yang dimana suatu output yang dihasilkan akan sesuai dengan nilai yang kita input dalam paramenter tersebut

ATMAJA nilai anda adalah : 85
bagus, belajar lebih giat lagi yaa